@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary-bg: #ffffff;
  --color-primary-text: #0f172a;
}

.dark {
  --color-primary-bg: #1e293b;
  --color-primary-text: #f1f5f9;
}



body {
  background: var(--color-primary-bg);
  color: var(--color-primary-text);
  font-family: var(--font-arad), Arial, Helvetica, sans-serif;
}